.navbar {
    margin-bottom: 40px;
  }
  
  .navbar .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #007180;
  }
  
  .navbar .navbar-nav {
    width: 500px;
    justify-content: center;
  }
  
  .navbar .navbar-nav .nav-link {
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    color: #484848;
    font-weight: 500;
    margin-right: 20px;
  }
  
  .navbar .navbar-nav .nav-link:hover {
    color: #3c237f;
  }
  
  .navbar .navbar-nav #active {
    font-size: 19px;
    font-weight: 600;
    color: #007180;
    text-decoration: underline;
  }
  
  .navbar .btn {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #007180;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 0;
    height: 2.5rem;
    padding: 0 1.8rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .navbar .btn:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
    transform: scale(1.05);
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  

.main #o-success{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #007180;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
}
  
#invoice{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding: 20px;
    border: 1px solid #2c2c2e;
}

#invoice .head{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #2c2c2e;
    text-align: center;
    margin-bottom: 20px;
}

#invoice .sub-head{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #2c2c2e;
    text-align: center;
    margin-bottom: 20px;
}

#invoice .row-2{
    margin-top: 30px;
}

#invoice .row-2 h5{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #007171;
    margin-bottom: 10px;
}

.print{
    position: absolute;
    top: 120px;
    right: 10px;
}

.print button{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    width: 110px;
}