
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .row-1 {
    align-items: center;
    margin-bottom: 10px;
  }
  
  .row-1 h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: #007178;
  }
  
  .row-1 p {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .cart .card-head {
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #007178;
  }
 

  .cart .row-bol div{
    font-weight: 600;
  }
  
  .cart .col {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #484848;
    margin-top: 10px;
  }
  
  .cart .checkout {
    width: 52%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 1200px) {
    .header-img {
      width: 300px;
    }
    .row-1 h1 {
      font-size: 30px;
    }
    .row-1 p {
      font-size: 15px;
    }
    .card-head {
      font-size: 25px;
    }
    .card .card-title {
      font-size: 25px;
    }
    .card .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 770px) {
    .card {
      margin-bottom: 30px;
    }
  
    .products .p-card {
      width: 300px;
    }
  }
  